#create{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}


#create > div > h3{
	text-align: left;
	padding: 0.5rem 0;
}

#my_quiz_head_box{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	text-align: left;
	padding: 0.5rem 0;
}

#my_quiz_head_box>h3{
	margin-right: 1rem;
}
#my_quiz_head_box>span{
	color: #666;
}

#create_head_container{
	width: 100%;
	flex: 0 0 50px;
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}



#create_quiz_name_input{
	width: 100%;
	text-align: left;
	font-family: 'EASTARJET-Medium';
	
}

#create_quiz_list_container{
	width: 100%;
	/* flex: 1 1 0; */
}


#create_quiz_item_btn_container{
	width: 100%;
	flex: 0 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#create_quiz_list_container{
	width: 100%;
	flex: 1 1 200px;
	display: flex;
	flex-direction: column;
}

#create_quiz_list_container>h3{
	height: max-content;
	margin: 8px 0px;
}

#create_quiz_list{
	flex: 1 1 200px;
	overflow-y: auto;
}



#create_quiz_name_input{
	padding: 4px;
	font-size: 1rem;
}

#create_quiz_start_btn{
	display: flex;
	flex-direction: row;
	cursor: pointer;

}
#create_quiz_start_btn>img{
	display: block;
	width: 2rem;
	height: 2rem;
}

#create_quiz_start_btn > strong{
	padding-left: 0.5rem;
}




.create_quiz_nav_btn > img{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
}

.create_quiz_nav_btn > img:hover{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}


.create_quiz_item{
	display: flex;
	flex-direction: row;
	overflow: hidden;
	border: 1px solid black;
	padding: 4px;
	margin: 8px 0px;
	border-radius: 5px;
	align-items: center;
	cursor: pointer;
}


.create_quiz_item_type{
	margin-right: 0.375rem;
	flex: 0 0 20px;
	display: flex;
	align-items: center;
}

.create_quiz_item_index{
	margin-right: 0.375rem;
	flex: 0 0 20px;
	font-size: 1rem;
	display: flex;
	align-items: center;
}


.create_quiz_item_content{
	flex-grow: 1;
	flex-shrink: 1;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1rem;
}

.create_quiz_item_delete_btn{
	flex: 0 0 20px;
	display: flex;
	align-items: center;
	
}